<%= render "shared/header" %>

<div class="view-back">
    <div class="room-view">
      <h1 class="page-tittle">お部屋の予約が完了しました！</h1>
      
      <%= link_to "トップページへ戻る", root_path %> 
    </div>
</div>

<footer class="footer">
  <p>© 2020 POTEPAN.INC.</p>
</footer>
